// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: #cfc;
  text-align: center;
}

nav {
  a {
    padding: 10px
  }
}

.d-none {
  display: none;
}

#logIn fieldset:disabled,
#logOut fieldset:disabled {
  color: #ccc;
}

#loginAlert {
  position: absolute;
  top: 30px;
}

#signUpErrors, #logInErrors {
  margin-top: 20px;
}

#tweets {
  width: 50%;
  article {
    position: relative;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    .delete {
      position: absolute;
      top: 10px;
      right: 20px;
    }
  }
}

#login {
  .login-modal {
    width: 50%;
  }
  .image {
    background-image: asset-url('happening.png');
    height: 100vh;
    position: relative;
    .large-icon {
      color: white;
      font-size: 300px;
      position: absolute;
      top: 30%;
      left: 20%;
    }
  }
  @media screen and (max-width: 767px) {
    .image {
      height: 30vh;
      .large-icon {
        font-size: 75px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .react-responsive-modal-modal {
      width: 40% !important;
    }
  }
  .home-icon-right {
    font-size: 48px;
    color: #1d9bf0;
  }
  .forms button {
    border-radius: 100px;
    padding: 5px 50px;
  }
  .blue-bg {
    background-color: #1d9bf0;
  }
  h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  h1 {
    font-size: 64px;
  }
  #legal {
    font-size: 10px;
    display: inline-block;
    max-width: 50%;
    margin-top: 5px;
  }
  nav {
    text-align: center;
    .btn-link, span {
      font-size: 13px;
      padding: 0 10px 0 0;
    }
  }
}